<div id="primary" class="content-area">
  <article id="post-1774" class="archive-entry post-1774 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-experiences tag-trains tag-transport">
    <header class="entry-header custom-entry">
      <h2 class="entry-title">Youtubeタグについて</h2>
    </header>
    <div class="entry-thumbnail">
      <img width="1008" height="670" src="/assets/youtuber-2838929_1920.jpg" class="aligncenter wp-post-image" alt="" loading="lazy" sizes="(max-width: 1008px) 100vw, 1008px">
    </div>
    <div class="entry-content">
      <%= render 'index_content_area_describe' %>
      <%= render 'index_content_area_table' %>
    </div>
  </article>
  <article id="post-1822" class="archive-entry post-1822 post type-post status-publish format-image has-post-thumbnail hentry category-photography tag-art tag-dark tag-exposure tag-late tag-night post_format-post-format-image">
    <header class="entry-header">
      <h2 class="entry-title">Youtubeのタグ検索</h2>
    </header>
    <div class="entry-thumbnail">
      <img width="1080" height="1080" src="/assets/youtube-icon-3478912_1920.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 1080px) 100vw, 1080px">
    </div>
    <div class="entry-content">
      <h1 class="question-title mx-auto pt-5">動画のIDを入力してください</h1>
      <div class="w-100"></div>
      <div class="button-group mx-auto">
        <div id="form-group" class="form-group">
          <%= form_with model: @yourtuber, url: yourtuber_results_path, local: true do |form| %>
            <%= form.label :video_id, 'タグを検索する', class: 'h4 float-left mb-md-3' %>
            <%= form.text_field :video_id, class: 'form-control form-control-lg', placeholder: '動画IDを入力してください' %>
            <small class="text-danger">このサイトはWEB APIを使用しているため使用制限があります。使用制限に達している場合はサイトの使用ができなくなります。</small>
            <div class="w-100"></div>
            <%= form.submit '確定して次へ', class: 'btn btn-primary my-3' %>
          <% end %>
        </div>
        <u>下記は動画ID入力例になります</u>
        <div class="w-100 py-2"></div>
        <div>
          <div class="card card-body text-left">
            <p>動画URL: https://www.youtube.com/watch?v=<span class="text-danger">-bNMq1Nxn5o</span></p>
            <p>タグを調べてみたい動画のURLを確認してください。上記の例では<span class="text-danger">-bNMq1Nxn5o</span>の赤文字部が動画IDになります。</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>