<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Yourtuber.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= render 'layouts/application_plugin_options' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>